html {
  font-family: 'Dosis', sans-serif;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

#logoContainer {
  width: 50%;
  margin: 0 auto;
}

#logo {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

h1 {
  text-align: center;
  color: white;
  padding: 1.5rem 2.5rem;
  /* Moves up the title to prevent a white line at the top */
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  background-image: linear-gradient(120deg, #fbc2eb 0%, #a6c1ee 100%);
}

.noBullets {
  list-style-type: none;
}

p {
  text-align: center;
}

.animal {
  display: block;
  margin: 1rem auto;
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.card {
  margin: 1rem;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  /* Rounds off my cards */
  border-radius: 12px;
  /* Hides overflowing text in cards */
  overflow: hidden;
  /* Delays transition speed */
  transition: all .2s linear;
}

.card:hover {
  /* Make the shadow darker */
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}
